.modal {
  width: 80%;
  /* height: 80%; */
  max-width: 500px;
  /* background: #000; */

  margin-top: 20px;
  border-radius: 5px;
  border: none;

  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
