.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
}

.author {
  /* font-size: 14px; */
}

.content {
  padding: 15px 0;
}

.author_container {
  display: flex;
  gap: 10px;
  align-items: center;
  /* font-size: 14px; */
}

.author_container .date {
  color: gray;
  font-size: 14px;
}

.delete_btn {
  color: gray;
  cursor: pointer;
}
