html,
body {
  margin: 0;
  padding: 0;
}

.container {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  font-size: 20px;
  line-height: 60px;
}

.header > a {
  color: rgb(229,9,20);
  text-decoration: none;
}
